framework:
    cache:
        # Unique name of your app: used to compute stable namespaces for cache keys.
        prefix_seed: app/todo_list

        # Development cache - filesystem
        app: cache.adapter.filesystem
        system: cache.adapter.system
