framework:
    cache:
        # Unique name of your app: used to compute stable namespaces for cache keys.
        prefix_seed: app/todo_list

        # Development cache - filesystem
        app: cache.adapter.filesystem
        system: cache.adapter.system

when@prod:
    framework:
        cache:
            app: cache.adapter.apcu
            system: cache.adapter.system
            default_redis_provider: 'redis://localhost'
            pools:
                cache.app:
                    adapter: cache.adapter.apcu
                    default_lifetime: 3600
