# config/packages/security.yaml
security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\LoginAuthenticator
            logout:
                path: app_logout
                # where to redirect after logout
                target: app_login

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            switch_user: true

    # Role hierarchy - higher roles inherit lower roles
    role_hierarchy:
        ROLE_ANALYST: ROLE_USER
        ROLE_MANAGER: [ROLE_USER, ROLE_ANALYST]
        ROLE_ADMIN: [ROLE_USER, ROLE_ANALYST, ROLE_MANAGER]
        ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        # Public routes
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/register, roles: PUBLIC_ACCESS }
        - { path: ^/reset-password, roles: PUBLIC_ACCESS }
        
        # Admin routes - only for admins
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/users, roles: ROLE_ADMIN }
        
        # Manager routes
        - { path: ^/reports, roles: ROLE_MANAGER }
        - { path: ^/analytics, roles: ROLE_ANALYST }
        - { path: ^/budget, roles: ROLE_MANAGER }
        - { path: ^/resources, roles: ROLE_MANAGER }
        
        # API routes
        - { path: ^/api, roles: ROLE_USER }
        
        # All other routes require authentication
        - { path: ^/, roles: ROLE_USER }

# Content Security Policy is configured in framework.yaml
# See config/packages/framework.yaml for CSP configuration