###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> Редакторы кода (IDE) ###
/.idea
/.vscode
/.kiro
/.qoder
*.sublime-*
###< Редакторы кода (IDE) ###

###> Операционная система ###
.DS_Store
Thumbs.db
###< Операционная система ###

###> Логи ###
/var/log/
*.log
###< Логи ###

###> Кеш инструментов ###
/var/cache/
/.php-cs-fixer.cache
/.php_cs.cache
/.phpstan.cache
/.psalm.cache
###< Кеш инструментов ###

###> Инструменты тестирования ###
/phpunit.xml.dist
/phpunit.xml
/behat.yml
/.phpunit.result.cache
/tools/
###< Инструменты тестирования ###

###> Фронтенд (Node, npm, yarn) ###
/node_modules/
/package-lock.json
/yarn.lock
/public/build/
###< Фронтенд (Node, npm, yarn) ###

###> Docker ###
/docker-compose.override.yml
/.docker/
###< Docker ###

###> Специфичные для окружения ###
/.env.test.local
/.env.test
###< Специфичные для окружения ###
###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
