parameters:
    level: 0
    paths:
        - src/
    excludePaths:
        - src/Kernel.php
        - src/DataFixtures/*
        - tests/
        - src/Service/*
    ignoreErrors:
        # Attribute classes - ложные срабатывания для PHP 8 attributes
        - '#Attribute class Symfony\\Component\\Serializer\\Annotation\\Groups does not exist#'
        - '#Attribute class Symfony\\Component\\Routing\\Annotation\\Route does not exist#'
