includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src/
        - tests/
    excludePaths:
        - src/Kernel.php
        - migrations/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericContext: false
