{% extends 'base.html.twig' %}

{% block title %}Ссылка для сброса пароля отправлена{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Проверьте вашу почту</h3>
                </div>
                <div class="card-body text-center">
                    <p>Если учетная запись с указанным email существует, на ваш адрес была отправлена ссылка для сброса пароля.</p>
                    <p>Ссылка будет действительна в течение 1 часа.</p>
                    
                    <div class="mt-3">
                        <a href="{{ path('app_login') }}" class="btn btn-primary">Вернуться к входу</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}