<h1>Здравствуйте!</h1>

<p>Для сброса пароля, пожалуйста, нажмите на ссылку ниже:</p>

<a href="{{ url('app_reset_password', {'token': resetToken}) }}">Сбросить пароль</a>

<p>Ссылка будет действительна в течение 1 часа.</p>

<p>Если вы не запрашивали сброс пароля, проигнорируйте это сообщение.</p>