# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Configure repository services to inject QueryCacheService
    App\Repository\TaskRepository:
        calls:
            - method: 'setCacheService'
              arguments: ['@App\Service\QueryCacheService']
    App\Repository\UserRepository:
        calls:
            - method: 'setCacheService'
              arguments: ['@App\Service\QueryCacheService']
    App\Repository\CommentRepository:
        calls:
            - method: 'setCacheService'
              arguments: ['@App\Service\QueryCacheService']
    App\Repository\TagRepository:
        calls:
            - method: 'setCacheService'
              arguments: ['@App\Service\QueryCacheService']
    App\Repository\TaskCategoryRepository:
        calls:
            - method: 'setCacheService'
              arguments: ['@App\Service\QueryCacheService']
    App\Repository\TaskNotificationRepository:
        calls:
            - method: 'setCacheService'
              arguments: ['@App\Service\QueryCacheService']
    App\Repository\NotificationRepository:
        calls:
            - method: 'setCacheService'
              arguments: ['@App\Service\QueryCacheService']
    App\Repository\TaskDependencyRepository:
        calls:
            - method: 'setCacheService'
              arguments: ['@App\Service\QueryCacheService']
    App\Repository\TaskRecurrenceRepository:
        calls:
            - method: 'setCacheService'
              arguments: ['@App\Service\QueryCacheService']
    App\Repository\TaskTimeTrackingRepository:
        calls:
            - method: 'setCacheService'
              arguments: ['@App\Service\QueryCacheService']
    App\Repository\ActivityLogRepository:
        calls:
            - method: 'setCacheService'
              arguments: ['@App\Service\QueryCacheService']

    # Configure services that need PerformanceMonitorService
    App\Service\AnalyticsService:
        arguments:
            $performanceMonitor: '@App\Service\PerformanceMonitorService'

    App\Command\PerformanceTestCommand:
        arguments:
            $performanceMonitor: '@App\Service\PerformanceMonitorService'

    App\Command\GeneratePerformanceReportCommand:
        arguments:
            $performanceMonitor: '@App\Service\PerformanceMonitorService'

    App\Command\OptimizePerformanceCommand:
        arguments:
            $performanceMonitor: '@App\Service\PerformanceMonitorService'
            $queryCacheService: '@App\Service\QueryCacheService'

    # Register cache warmers
    App\CacheWarmer\PerformanceCacheWarmer:
        tags: ['kernel.cache_warmer']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones