parameters:
    uploads_directory: '%kernel.project_dir%/public/uploads'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $projectDir: '%kernel.project_dir%'
            $kernelProjectDir: '%kernel.project_dir%'
            $uploadsDirectory: '%uploads_directory%'
            $environment: '%kernel.environment%'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Alias for ContainerInterface to allow autowiring
    Symfony\Component\DependencyInjection\ContainerInterface: '@service_container'
    
    # Alias for Google Authenticator to allow autowiring
    Scheb\TwoFactorBundle\Security\TwoFactor\Provider\Google\GoogleAuthenticatorInterface: '@scheb_two_factor.security.google_authenticator'

    # Rate Limiter для API
    App\EventListener\ApiRateLimitListener:
        arguments:
            $apiRequestLimiter: '@limiter.api_request'
        tags:
            - { name: 'kernel.event_listener', event: 'kernel.request', priority: 10 }

    # Exception Handler для API
    App\EventListener\ApiExceptionListener:
        arguments:
            $environment: '%kernel.environment%'
        tags:
            - { name: 'kernel.event_listener', event: 'kernel.exception', priority: 0 }
    
    # Security Validation Listener
    App\EventListener\SecurityValidationListener:
        tags:
            - { name: 'kernel.event_subscriber' }
