parameters:
    app.use_modern_theme: true
    uploads_directory: '%kernel.project_dir%/public/uploads'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $projectDir: '%kernel.project_dir%'
            $uploadsDirectory: '%uploads_directory%'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Alias for ContainerInterface to allow autowiring
    Symfony\Component\DependencyInjection\ContainerInterface: '@service_container'
