services:
    _defaults:
        autowire: true
        autoconfigure: true
    App\:
        resource: '../src/'

    # Security management service
    App\Service\SecurityManagementService:
        arguments: ['@logger', '@request_stack', '@security.token_storage']

    # Security management command
    App\Command\SecurityManagementCommand:
        arguments: ['@App\Service\SecurityManagementService']
